<you>
  <div class="you">
    <span><a href="https://github.com/rdanitz">&copy; rdanitz</a></span>
  </div>

  <style>
    .you {
      position: relative;
      font-weight: lighter;
      text-align: center;
      text-transform: lowercase;
    }

    .you a:hover {
      border-bottom: 3px solid black;
    }
  </style>

</you>
